body {
  margin: 0px;
  padding: 0px;
  font-family: 'Natasha', sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  position: relative;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

div, ul, li {
  box-sizing: border-box;
}

.header-wrapper {
  background: url(../img/bg5.jpg) no-repeat center top / cover;
  height: 100vh;
  color: #fff;
  /*padding: 55px;*/
  /*margin-bottom: 85px;*/
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}

.header__me {
  display: none;
  align-items: center;
}

.fa-angle-down {
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

.logo span {
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl';
  font-weight: 900;
}

.logo {
  font-size: 17px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-right: 40px;
}

.navbar__contacts a {
  font-family: 'MuseoSansCyrl';
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.navbar__contacts:after {
  width: 100%;
  background: #6d706b;
  height: 1px;
  content: '';
  display: block;
  margin-top: 5px;
}

h1 {
  text-align: center;
  padding-top: 280px;
  font-size: 60px;
  margin: 0px;
}

.header__subtitle {
  font-family: 'MuseoSansCyrl';
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

.header__arrow {
  height: 40px;
  width: 40px;
  border: 1.1px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  font-family: FontAwesome;
  text-align: center;
  line-height: 40px;
  margin-top: 100px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: inherit;
}

.header__arrow::after {
  border: none;
}

.title {
  font-size: 37px;
}

.about {
  margin: 75px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.about__items {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
}

.about__items-adv {
  margin-left: 25px;
}

.about__items_title {
  font-size: 22px;
  color: #888886;
  margin-bottom: 45px;
}

.about__items_text {
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 40px;
  line-height: 1.5em;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

.advantages__items_img {
  background: url(../img/square.png) no-repeat center top / cover;
  width: 100px;
  height: 100px;
  float: left;
  display: block;
  text-align: center;
  line-height: 100px;
  font-family: 'MuseoSansCyrl';
  font-weight: 100;
  font-size: 20px;
}


.advantages__items_text {
  font-size: 12px;
  font-family: 'MuseoSansCyrl';
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 1.5em;
}

.conection__title {
  margin: 70px 0 10px 0;
  font-size: 22px;
  color: #888886;
}

.conection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conection__contacts {
  display: flex;
  flex-direction: column;
}

.conections__items {
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  font-size: 14px;
  padding-top: 12px;
  text-decoration: none;
  color: #204d15;
}

.conections__items:after {
  width: 170px;
  height: 1px;
  background: #becbbb;
  content: '';
  display: block;
  margin-top: 3px;
}

.conections__items span {
  margin-right: 5px;
}

.conection__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.conection__logo_icon {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border: 2px solid #6f8c68;
  cursor: pointer;
}

.conection__text {
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  font-size: 14px;
  color: #797a77;
  margin-left: 15px;
}

.skills {
  font-family: 'MuseoSansCyrl';
  margin-top: 60px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 30px;
}

.skills__round {
  width: 160px;
  height: 160px;
  background:  #FFD554;
  border: 5px solid #fff;
  border-radius: 50%;
  position: relative;
  padding: 2px;
  outline: 2px solid #FFAA1A;
  /*background: linear-gradient(#FFD554, rgba(225, 135, 40, 0) 80%) content-box;*/
  background: linear-gradient(0deg, rgb(247, 198, 47), rgb(255, 255, 255) 100%) content-box;
}

.skills__item:nth-child(3) .skills__round,
.skills__item:nth-child(4) .skills__round,
.skills__item:nth-child(8) .skills__round,
.skills__item:nth-child(9) .skills__round {
  background: linear-gradient(45deg, rgb(247, 198, 47) 50%, rgb(255, 255, 255));
}

.skills__item:nth-child(6) .skills__round {
  background: linear-gradient(0deg, rgb(247, 198, 47), rgb(255, 255, 255) 75%) content-box;
}

.skills__item:last-child .skills__round {
  background: linear-gradient(0deg, rgb(247, 198, 47), rgb(255, 255, 255) 10%) content-box;
}

.skills__item:last-child .skills__round .skills__round-inner {
  color: #FFAA1A;
}



.skills__round-inner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  padding-top: 17px;
  font-weight: 100;
  font-size: 14px;
  color: #211818;
  padding: 0.125em;
  margin: 0 auto;
  padding-top: 30px;
  color: white;
  font: 700 2em/2 comic sans ms, verdana, sans serif;
  text-align: center;
}

.skills__text {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 10px);
}

.work__title {
  font-size: 22px;
  color: #888886;
  margin: 45px 0px 15px 0px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__items {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-right: 10px;
}

.works__items img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.overlay {
  font-family: 'MuseoSansCyrl';
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 130px 0px;
  transition: all ease 1s;
  display: none;
}

.overlay a {
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
}

.overlay hr {
  width: 70px;
  background-color: #fff;
}

.works__items:hover .overlay {
  display: block;
}

.future {
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  color: #888886;
  margin: 125px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 80px;
}

.modal__menu-content {
  display: none;
  flex-direction: column;
}

.modal__navbar {
  display: flex;
  flex-direction: column;
}

.modal__navbar-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}

.menu__modal-title {
  font-family: sans-serif;
  color: #fff;
  text-align: left;
  font-size: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(79, 87, 90, 0.493);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MuseoSansCyrl';
  display: none;
}

.modal__block {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  margin: 30px;
  position: relative;
}

.modal__image {
  max-width: 200px;
  border: 1px solid #ccc;
  margin-right: 15px;
  border-radius: 5px;
}

.modal__header {
  margin-bottom: 15px;
  font-family: 'Natasha';
}

.modal__header-item {
  margin-bottom: 15px;
  font-family: 'Natasha';
  margin-top: 7px;
}

.modal__content {
  display: flex;
}

.modal__description p {
  margin-top: 10px;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-color: transparent;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.modal__close:hover {
  color: green;
}

.is-open {
  display: flex;
}

/*new*/

#section2 {
  background: #fff;
  height: 100vh;
}

#section2 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.section0 {
  height: 100vh;
  position: sticky;
  top: 0;
}

#section0 {
  position: relative;
}

.svg-avatar {
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-47%, -55%);
}

.preview__text-block_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 103%;
}

.preview-title {
  padding-top: 0;
}

.preview-title div,
.preview-subtitle div {
  display: inline-block;
}

.blob-btn {
  /*$ numOfBlobs: 4;*/
  z-index: 1;
  position: relative;
  padding: 15px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffaa1a;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn::before {
   content: "";
   z-index: 1;
   position: absolute;
   left: -2px;
   top: -2px;
   width: 100%;
   height: 100%;
   border: 2px solid #ffaa1a;
   border-radius:30px;
 }

.blob-btn::after {
   content: "";
   z-index: -2;
   position: absolute;
   left: 3px;
   top: 3px;
   width: 100%;
   height: 100%;
   transition: all 0.3s 0.2s;
   border-radius: 30px;
 }

.blob-btn:hover {
  color: #fff;
  border-radius: 30px;
}

.blob-btn:hover::after {
   transition: all 0.3s;
   left: 0;
   top: 0;
   border-radius:30px;
}

.blob-btn__inner {
   z-index: -1;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: 30px;
   background: #fff;
 }

.blob-btn__blobs {
   position: relative;
   display: block;
   height: 100%;
   filter: url('#goo');
 }

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #ffaa1a;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url('#goo')) {
  transform: translate3d(0, 150%, 0) scale(1.4);
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url('#goo')) {
  transform: translateZ(0) scale(1.4);
}

.preview-button {
  text-align: center;
  margin-top: 10px;
  animation: ask 1.2s ease-in-out infinite;
}

@keyframes ask {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.preloader {
  /*background-image: radial-gradient(circle, #000000, #1f1112, #341b18, #492719, #593717, #5b3d14, #5c4311, #5c490e, #55430b, #4e3d07, #483704, #413100);*/
  background-image: radial-gradient(circle, #e38f00, #d8653b, #b54a54, #823e5a, #4e344b, #52384e, #563c50, #5a4053, #975668, #d07368, #f69e5c, #ffd554);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.preloader .container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: daylight 15s ease infinite;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3), inset 0 0 0 15px rgba(0, 0, 0, .05), inset 0 0 0 30px rgba(0, 0, 0, .05), inset 0 0 0 45px rgba(0, 0, 0, .05), inset 0 0 0 60px rgba(0, 0, 0, .05), inset 0 0 0 75px rgba(0, 0, 0, .05), inset 0 0 0 90px rgba(0, 0, 0, .05);
}
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 120px;
  height: 120px;
  background: linear-gradient(to bottom, #fecf4e 1%, #a62a44 50%, #310441 100%);
  border-radius: 50%;
  transform: rotate(-15deg) translate(-35%, -55%);
}

@supports not (clip-path: inset(50% 0 0 0)) {
  .ring-before, .ring-after, .ring-bigger-before, .ring-bigger-after {
    display: none;
  }
}

.ring-before, .ring-after, .ring-bigger-before, .ring-bigger-after {
  content: "";
  width: 126px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid rgba(248, 197, 77, .8);
  position: absolute;
  top: 125px;
  left: 84px;
  transform: skew(-54deg);
}

.ring-bigger-before, .ring-bigger-after {
  transform: skew(-54deg) scale(1.3);
  border-color: #d3bc68;
}

.ring-before, .ring-bigger-before {
  z-index: 3;
  clip-path: inset(50% 0 0 0);
}

.ring-after, .ring-bigger-after {
  z-index: 1;
  clip-path: inset(0 0 50% 0);
}

.sub-planet {
  position: absolute;
  top: 24%;
  left: 75%;
  z-index: 4;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #70a27d 1%, #4552a1 50%, #371a6a 100%);
  border-radius: 50%;
  transform: rotate(-15deg);
}

.orbit {
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.orbit-1 {
  animation: orbit-1 5s linear infinite;
}

@keyframes orbit-1 {
  from {
    transform: rotate(0deg) translateX(65px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(65px) rotate(-360deg);
  }
}

.orbit-2 {
  animation: orbit-2 10s linear infinite;
}

@keyframes orbit-2 {
  from {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

.orbit-3 {
  animation: orbit-3 15s linear infinite;
}

@keyframes orbit-3 {
  from {
    transform: rotate(0deg) translateX(95px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(95px) rotate(-360deg);
  }
}

.orbit-4 {
  animation: orbit-4 20s linear infinite;
}

@keyframes orbit-4 {
  from {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}

.orbit-5 {
  animation: orbit-5 25s linear infinite;
}

@keyframes orbit-5 {
  from {
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}

.orbit-6 {
  animation: orbit-6 30s linear infinite;
}

@keyframes orbit-6 {
  from {
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}

.cloud {
  background: #f1f1f1;
  width: 100px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, .1);
}

.cloud:before, .cloud:after {
  content: "";
  background: #f1f1f1;
  border-radius: 50%;
  position: absolute;
}

.cloud:before {
  width: 50px;
  height: 50px;
  bottom: 2px;
  left: 5px;
}

.cloud:after {
  width: 40px;
  height: 40px;
  bottom: 2px;
  right: 15px;
}

.cloud-group-1, .cloud-group-2, .cloud-group-3 {
  position: absolute;
  bottom: 0;
  width: 211px;
  height: 100px;
  opacity: 0.2;
}

.cloud-group-1 {
  bottom: -5px;
}

.cloud-group-2 {
  transform: scale(2);
  bottom: 20px;
  left: -50px;
}

.cloud-group-3 {
  transform: scale(3);
  bottom: 100px;
  left: -24px;
}

.cloud-2 {
  left: 10px;
}

.cloud-3 {
  right: 10px;
}

.cloud-4 {
  right: 184px;
  bottom: 0;
}

.cloud-5 {
  right: 24px;
  bottom: 12px;
}

.cloud-6 {
  right: -45px;
  bottom: 9;
}

.star {
  position: absolute;
  left: 0;
  top: 50px;
  width: 1px;
  height: 1px;
  background-color: white;
  animation: shooting 5s linear infinite;
}

.star:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  right: 1px;
  top: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, .4) 100%);
}

.star-2 {
  top: 100px;
  animation: shooting 8s 1s linear infinite;
}

.star-3 {
  top: 250px;
  animation: shooting 3s 2s linear infinite;
}

@keyframes daylight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shooting {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}

.section-panel__wrapper {
  position: relative;
}

.panel2:not(:first-child) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
}
.panel2:not(:first-child) {
  opacity: 0 ;
}

#works {
  position: relative;
  z-index: 1;
  background: #fff;
}

#skills {
  height: 100vh;
  position: relative;
  z-index: 1;
  background: #fff;
}

.skills {
  position: relative;
  width: 100%;
  height: 100%;
}

#skills .container {
  width: 1340px;
}

.skills__item:nth-child(1) {
  animation:
          skill1 3s 1,
          float 2.5s 3s infinite;
}

@keyframes skill1 {
  0% {
    transform: translate(0,0px);
  }

  100% {
    transform: translate(0,-50px);
  }
}

@keyframes float {
  0% {
    transform: translatey(-80px);
  }

  50% {
    transform: translatey(-50px);
  }

  100% {
    transform: translatey(-80px);
  }
}


