@media(max-width: 1400px) {
  #section0, #section1,
  .about-me__item._is-open,
  .skills-bg, .section-wrapper {
    height: auto !important;
  }

  #section0 {
    position: relative;
  }

  .bubble-link {
    position: static;
  }

  .bubble-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .bubble-link:nth-child(2) {
    transform: translateX(0);
  }

  .bubble-link::before,
  .blob-btn__inner {
    display: none;
  }

  .bubble-link:hover svg path {
    fill: #ffaa1a;
  }

  .svg-avatar {
    width: 15%;
    top: 45%;
  }

  .round {
    left: -300px;
  }

  .round2 {
    right: -300px;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 40px 20px;
    width: 100%;
  }

  .about__items-adv {
    align-items: flex-start;
  }

  .skills-btn {
    display: none;
  }

  .about-me__item {
    display: block;
  }

  .skills {
    gap: 40px 95px;
  }

  #best-works, #sites, #react, #js-services, #games {
    padding-bottom: 30px;
  }

  .arrow-slider-title-wrapper_btn {
    background: #ffaa1a;
    transition: 0.3s;
  }

  .arrow-slider-title-wrapper_btn svg path {
    fill: #fff;
    transition: 0.3s;
  }

  .arrow-slider-arrow {
    gap: 10px;
  }

  .title__wrapper svg {
    display: none;
  }
}


@media (max-width: 960px) {
  .container {
    width: 95%;
  }
  h1 {
    font-size: 55px;
  }
  .header__subtitle {
    font-size: 25px;
  }

  .overlay {
    width: inherit;
  }
}

@media (max-width: 895px) {
  h1 {
    font-size: 36px;
  }
}



@media (max-width: 770px) {
  .header__subtitle {
    font-size: 25px;
  }

  .skills {
    gap: 40px 80px;
  }
}

@media (max-width: 635px) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
  }
  .about__items-adv {
    margin-left: 0px;
  }
  .conection {
    justify-content: start;
  }

  .conection__text {
    font-size: 11px;
  }
  .works__items img {
    border: 1px solid black;
  }
  .works__items:hover .overlay {
    display: none !important;
  }

  .preview-title {
    font-size: 24px;
  }

  .preview-subtitle {
    font-size: 18px;
  }

  .round {
    left: -385px;
  }

  .round2 {
    right: -385px;
  }

  .bubble-link {
    width: 40px;
    height: 40px;
  }

  .bubble-link svg {
    width: 25px;
    height: 25px;
  }

  .svg-avatar {
    width: 17%;
    top: 43%;
  }

  .about__items_title {
    margin-bottom: 16px;
  }

  .about__items_text {
    padding-bottom: 16px;
  }

  .skills {
    gap: 20px;
  }

  .footer {
    flex-direction: column;
    gap: 15px;
  }

  .title {
    font-size: 26px;
  }

  .about__items_title,
  .work__title {
    font-size: 20px;
  }

  .preview-title {
    padding-top: 10px;
  }

  #react .arrow-slider-arrow {
    display: flex;
  }
}

